


<% if (error) { %>
    <div class="alert alert-danger text-center mt-3">
        <%= error %>
    </div>
<% } %>

<style>
    .custom-swal-popup {
    width: 500px !important; /* Increase width */
    height: auto !important; /* Adjust height dynamically */
    padding: 30px !important; /* Increase padding for better spacing */
}

</style>

      <!-- Start Sign up Area  -->
      <div class="signup-area rainbow-section-gapTop-big"  data-black-overlay="2">
        <div class="sign-up-wrapper">
            <div class="sign-up-box bg-flashlight">
                <div class="signup-box-top top-flashlight light-xl">
                    <img class="boxed-logo-dark" src="/assets/images/logo/boxed-logo.png" alt="sign-up logo">
                    <img class="boxed-logo-light" src="/assets/images/logo/boxed-logo-light.png" alt="sign-up logo">
                </div>
                <div class="separator-animated animated-true"></div>
                <div class="signup-box-bottom">
                    <div class="signup-box-content">
                        <h4 class="title">Welcome Back!</h4>
                    
                        <form action="/login" method="POST">
                            <div class="input-section mail-section">
                                <div class="icon"><i class="feather-mail"></i></div>
                                <input type="email" name="email" placeholder="Enter email address">
                            </div>
                            <div class="input-section password-section">
                                <div class="icon"><i class="feather-lock"></i></div>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <!-- <div class="forget-text"><a class="btn-read-more" href="/forgot-password"><span>Forgot
                                        password</span></a></div> -->
                            <button type="submit" class="btn-default">Sign In</button>
                        </form>
                    </div>
                    <div class="signup-box-footer">
                        <div class="bottom-text">
                            Don't have an account? <a class="btn-read-more" href="/signup"><span>Sign
                                    Up</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const successMessage = "<%- typeof success !== 'undefined' ? success : '' %>";
            const errorMessage = "<%- typeof error !== 'undefined' ? error : '' %>";

            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: successMessage,
                    confirmButtonText: 'OK'
                });
            }

            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: errorMessage,
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>

    <!-- End Sign up Area  -->

