<% if (error) { %>
    <div class="alert alert-danger text-center mt-3">
        <%= error %>
    </div>
<% } %>

<!-- Start Sign up Area -->
<div class="signup-area rainbow-section-gapTop-big" data-black-overlay="2">
    <div class="sign-up-wrapper rainbow-section-gap">
        <div class="sign-up-box bg-flashlight">
            <div class="signup-box-top top-flashlight light-xl">
                <img class="boxed-logo-dark" src="/assets/images/logo/boxed-logo.png" alt="sign-up logo">
                <img class="boxed-logo-light" src="/assets/images/logo/boxed-logo-light.png" alt="sign-up logo">
            </div>
            <div class="separator-animated animated-true"></div>
            <div class="signup-box-bottom">
                <div class="signup-box-content">
                    <h4 class="title">Join Us!</h4>
                    <p>Sign up by entering your email address to get started. Your login credentials will be emailed to you.</p>
                    <form action="/signup" method="POST">
                        <div class="input-section mail-section">
                            <div class="icon"><i class="feather-user"></i></div>
                            <input type="text" placeholder="Enter Your Name" name="name">
                        </div>
                        <div class="input-section mail-section">
                            <div class="icon"><i class="feather-mail"></i></div>
                            <input type="email" placeholder="Enter your email address" name="email" required>
                        </div>
                        <button type="submit" class="btn-default">Sign Up</button>
                    </form>
                </div>
                <div class="signup-box-footer">
                    <div class="bottom-text">
                        Already have an account? <a class="btn-read-more" href="/login"><span>Sign In</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sign up Area -->
